{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %}
Information security documents
{% endblock %}

{% block body_content %}

    <div class="features">
        <h1>{{ title }}</h1>
        <h2>{{ title_inf_sec }}</h2>
        <p>{{ intro_text }}</p>
        <img src="{% static 'main/img/triad.png' %}" alt="img">
        <br>
        <h1>Основные направления защиты информации</h1>
        <p>{{ directions }}</p>
        <img src="{% static 'main/img/main_dir_infsec.png' %}" alt="img">
        <br>
        <button class="btn btn-warning">Back on main page</button>
    </div>

{% endblock %}