body {background-color: #D8D7D9;}

.main_content {
    z-index: 1;
    text-align: center;
    width: 35%;
    color: white;
    background: rgba(0, 0, 0, 0);
    font-size: 14px;
    margin-top: 20%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

.main_content h2 {
    text-align: left;
}

header {
    position: absolute;
    width: 100%;
    height: 150px;
    left: 0%;
    top: 0%;
    background: #2946A0;
}
    
.img_logo {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 10%;
    top: 15px;
}

.line_search {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 10px;
    border-radius: 30px;
    border: 0;
    mix-blend-mode: lighten;
    padding-left: 40px;
    left: -40px;
    outline: none;
    font-size: 16px;
    color: black;
}
    
.form_search {
    position: relative;
    width: 50%;
    height: 100px;
    left: 25%;
    top: 15px;
    color: black;
}

.btn_search {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 15px;
    left: -35px;
    border-radius: 100%;
    border: 0;
    cursor: pointer;
    background: rgba(0, 0, 0, 0);
}

.btn_search:hover {
  transform: scale(1.1);
}

ul.full-width{
	width: 100%; /* Ширина основного блока меню */
	height: 50px; /* Высота основного блока меню */
	position: relative;
	display: table;
	margin: 0;
	padding: 0;
	background-color: #2946A0;
}

ul.full-width li {
	display: table-cell;
	position: relative;
}

ul.full-width a:hover {
    background-color: #DEDEDE;
}

ul.full-width li a {
    text-decoration: none;
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	text-align:center;
	color: #000;
	background: #FFF;
	line-height: 50px; /* Приравниваем к высоте, чтобы выровнять текст по вертикали */
	font-size: 18px;
}

ul.full-width li ul {
	display: none; /* Скрываем выпадающее меню */
	position: absolute;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

ul.full-width li ul li {
	display: block;
}

ul.full-width li:hover ul {
	display: block; /* Показываем выпадающее меню, где оно есть, при наведении */
}

main .features {
    display: inline-block;

    text-align: center;
    width: 70%;
    color: black;
    background-color: white;
    border-radius: 30px;
    font-size: 14px;
    margin-bottom: 40px;
    margin-top: 160px;
    margin-left: 15%;
    padding: 1%;
}

main .img_docs {
    margin: auto;
    vertical-align: top;
}

.title_all {display: inline-block;}

.title_all h1{
    display: inline-block;
    font-size: 32px;
}

footer {
    position: fixed;
    height: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    background-color: #2946A0;
    display: inline;
}

footer p {
    margin-top: 5px;
}

html {scroll-behavior: smooth;}

.miit {
    text-decoration: none;
    color: #FFFFFF;
}

.more {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1vw;
}

.btn_add_ {
    position: relative;
    width: 70%;
    top: 25%;
}

.btn btn-success {width: 50%;}

add.calc {width: 50%;}

.el_cart {
    display:block;
    width: 700px;
    height: 75px;
    padding: 5px;
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
}

.img_cart {
    margin-left: 11px;
    float: left;
    width: 75px;
    height: 75px;
}

.el_text_cart {
    display:flex;
    justify-content: left;
    height: 75px;
    display: inline-block;
    width: 500px;
    margin-top: -5px;
}

.el_name a, h3, h4 {
    text-decoration: none;
    color: black;
    font-style: Comic Sans MS;
}

.el_text_cart div {
    padding: 5px;
}

.el_name {
    text-decoration: none;
    margin-left: -11px;
    display:inline-block;
}

.el_name h3, h4 {
    text-decoration: none;
    color: black;
}

.el_name a {
    color: #B3B3B3;
    text-decoration: none;
}

.el_price {
    margin-left: 55px;
    display:inline-block;
}

.el_price p {
    color: #B3B3B3;
    font-style: Comic Sans MS;
}

.el_total_price {
    text-align: right;
    margin-top: -11px;
    margin-left: 110px;
    display: inline-block;
}

.total_cart {
    display:inline-block;
    width: 710px;
    border: 1px solid #B3B3B3;
    border-radius: 10px;
    height: 33px;
}

.total_cart h3 {
    margin-top: 5px;
}

.el_type_docs {
    margin-left: auto;
    margin-right: auto;
    height: 11px;
    cursor: pointer;
    width: 50%;
    display: block;
    padding: 1vw;
    border: 1px solid #F0F0F0;
}

.el_type_docs:hover {
    transform: scale(1.001);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.el_name_type_docs {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 3vw;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1.2vw;
}

.el_name_type_docs a {
    text-decoration: none;
    color: black;
}

.el_review {
    height: 150px;
    cursor: pointer;
    display: block;
    padding: 11px;
    border: 1px solid #F0F0F0;
}

.el_review:hover {
    transform: scale(1.001);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.el_review div {display: inline-block;}

.el_text_review {
    display: block;
    width: 600px;
    font-size: 16px;
}

.form_add {
    float: right;
    margin-top: 75px;
}

.el_title_review {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 20px;
    width: 450px;
}

.el_change {
    height: 300px;
    display: block;
    border: 1px solid #F0F0F0;
}

.el_change div {display: inline-block;}

.img_change {
    float: left;
    width: 300px;
    height: 300px;
    border: 1px solid #F0F0F0;
}

.el_text_change {
    display: block;
    margin-top: 75px;
}

.el_text_change p{
    font-style: normal;
    font-size: 18px;
}

.el_text_change h1{
    font-style: normal;
    font-size: 26px;
}

.el_description {
    display: block;
    text-align: left;
    border: 1px solid #F0F0F0;
    padding: 5px;
}

.el_description h2 {
text-align: center;
font-size: 20px;
}

.el_description p {
    font-style: normal;
    font-size: 16px;
}

.btn_back {
    left: 90%;
    width: 30px;
}

.img_calc {
    margin-left: 11px;
    float: left;
    width: 150px;
    height: 150px;
}

.btn_delete {
    color: black;
    padding: 1vw;
    text-decoration: none;
    width: 2vw;
}

.btn_delete:hover {color: #2946A0;}

.btn_add {
    margin-bottom: 1vw;
    width: 5vw;
}

.table_docs,td,th {
    border-collapse: collapse;
    border: 1px solid #C2C2C2;
    margin-left: auto;
    margin-right: auto;
    width: 6vw;
    height: 3vw;
    padding: 0.5vw;
}

.table_docs a {
    text-decoration: none;
    color: black;
}

.table_docs a:hover {
    color: #2946A0;
}

.table_docs td:nth-child(even){background-color: #f2f2f2}

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 14px
}

/* Текст подсказки */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Расположите текст подсказки */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Исчезают в подсказке */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Подсказка стрелка */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Отображение текста подсказки при наведении курсора мыши на контейнер подсказки */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.btn_back_cart {
    border: 0;
    text-decoration: none;
    background-color: #2964A0;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.btn_back_cart:hover {transform: scale(1.05);}


.btn_cart {
    height: 40px;
    width: 40px;
    position: absolute;
    top: 25px;
    background-color: #2946A0;
    cursor: pointer;
    left: 90%;
    text-decoration: none;
    border: 0;
}

.btn_cart:hover {transform: scale(1.05);}

.youtube-video-background {
 background: url(/images/video-bg.jpg) no-repeat #333333;
 position: fixed;
 top: 0; right: 0; bottom: 0; left: 0;
 z-index: -99;
}

.video-box,
.video-box iframe {
 position: absolute;
 top: 0; left: -1px;
 width: 100%; height: 100%;
 pointer-events: none;
}

@media (min-aspect-ratio: 16/9) {
 .video-box { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
 .video-box { width: 300%; left: -100%; }
}

.doc_text {
    display: block;
    text-align: left;
}

.doc_text p{font-size: 16px;}