body {background-color: #F1F0F2;}

header {
    position: absolute;
    width: 100%;
    height: 15%;
    left: 0%;
    top: 0%;
    background: #2946A0;
}
    
.logo {
    position: absolute;
    width: 4vw;
    height: 4vw;
    left: 4%;
    top: 15%;
}

.search {
    position: absolute;
    width: 70%;
    height: 2.5vw;
    left: 12.5%;
    top: 20px;
    border-radius: 30px;
    mix-blend-mode: lighten;
    padding-left: 2vw;
    outline: none;

    font-size: 1.25vw;
    line-height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
}
    
form {
    position: relative;
    width: 70%;
    height: 50%;
    left: 12.5%;
    top: 75%;
}

.search_button {
    height: 3vw;
    width: 3vw;
    position: absolute;
    top: 20px;
    right: 5%;
    border-radius: 100%;
    background-color: #3357C7;
    mix-blend-mode: lighten;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

button:hover {background-color: #;}

nav {
    background-color: #2946A0;
    position: absolute;
    width: 100%;
    height: 55%;
    top: 100%;
}

nav a {
    text-decoration: none;
    line-height: 1vw;
    color: #000000;
}

nav  ul {list-style: none}

nav  ul li {
    list-style-type: none;
    color: #FFFFFF;
    display: inline;

    transition: transition .6s easy;
    padding-left: 5.5vw;
    text-decoration: none;
    font-size: 1.15vw;
}

nav ul li:hover, topnav ul a:hover {
    color: #C7C7C7;
    text-decoration: none;
    transform: scale(1.1);
}

main .features {
    text-align: center;
    width: 70%;
    color: black;
    background-color: white;
    border-radius: 1vw;
    font-size: 14px;
    margin-bottom: 4%;
    margin-top: 12.5%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}

main .img_docs {
    margin: auto;
    vertical-align: top;
}

.title_all {display: inline-block;}

.title_all a{
    display: inline-block;
    margin-top: 20%;
}

footer {
    position: fixed;
    height: 2.5vw;
    left: 0;
    bottom: 0;
    width: 100%;

    color: white;
    text-align: center;
    background: #2946A0;
}

.footer_text {
    top: 25%;
    position: absolute;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1.2vw;
    left: 37.5%;
    color: #FFFFFF;
}

html {scroll-behavior: smooth;}

.footer_logo {
    text-align: center;
    position: absolute;
    height: 1.2vw;
    width: 1.2vw;
    left: -7%;
}

.miit {
    text-decoration: none;
    color: #FFFFFF;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.more {
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1vw;
}

.btn_add_ {
    position: relative;
    width: 70%;
    top: 25%;
}

.btn btn-success {width: 50%;}

add.calc {width: 50%;}

.cart {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    font-size: 1.25vw;
    line-height: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    border-collapse: collapse;
    border: 2px solid white;
}

.cart td {
    height: 1vw;
    padding: 1.5vw;
    border: 2px solid white;
}

.el_review {
    height: 150px;
    cursor: pointer;
    display: block;
    padding: 1vw;
    border: 1px solid #F0F0F0;
}

.el_review:hover {
    transform: scale(1.001);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.el_review div {display: inline-block;}

.el_text_review {
    display: block;
    width: 50%;
}

.form_add {
    float: right;
    margin-top: 50px;
}

.img_calc {
    margin-left: 50px;
    float: left;
    width: 150px;
    height: 150px;
}

.el_title_review {
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-size: 1.2vw;
    border-radius: 10px;
    width: 50%;
}

.el_change {
    height: 300px;
    display: block;
    border: 1px solid #F0F0F0;
}

.el_change div {display: inline-block;}

.img_change {
    float: left;
    width: 300px;
    height: 300px;
    border: 1px solid #F0F0F0;
}

.el_text_change {
    display: block;
    margin-top: 50px;
}

.el_text_change p{
    font-style: normal;
    font-size: 1.1vw;
}

.el_description {
    display: block;
    text-align: left;
    border: 1px solid #F0F0F0;
    padding: 0.5vw;
}

.el_description h2 {text-align: center;}

.el_description p {
    font-style: normal;
    font-size: 1.1vw;
}

.back {
    font-style: normal;
    font-size: 1.2vw;
    text-decoration: none;
    color: #B3B3B3;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 10%;
    border: 1px solid #E6E6E6;
    float: left;
}

.back:hover {transform: scale(1.05);}

.img_docs {
    width: 800px;
    height: 350px;
    border: 1px solid #F0F0F0;
}

.document_schema {
    position: relative;
    margin-right: auto;
}

.img_cart {
    float: left;
    width: 150px;
    height: 150px;
}

.cart a {
    text-decoration: none;
    color: black;
}

.btn_delete {
    padding: 1vw;
    background-color: #F0F0F0;
    border: 1px solid #C2C2C2;
}

.btn_delete:hover {background-color: #D9D9D9;}

.table_docs,td,th {
    border-collapse: collapse;
    border: 1px solid #C2C2C2;
    margin-left: auto;
    margin-right: auto;
    width: 6vw;
    height: 3vw;
    padding: 0.5vw;
}

.table_docs td:nth-child(even){background-color: #f2f2f2}

.tooltip {
  position: relative;
  display: inline-block;
  font-size: 14px
}

/* Текст подсказки */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Расположите текст подсказки */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Исчезают в подсказке */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Подсказка стрелка */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Отображение текста подсказки при наведении курсора мыши на контейнер подсказки */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}