{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %}{{ title }}{% endblock %}

{% block body_content %}

<div class="features">
    <h1>{{ title }}</h1>
    <h2>Понятие "информационная безопасность"</h2>
    <p> Информационная безопасность - состояние защищенности информационной технологии,
        при котором обеспечивается выполнение изделием,
        реализующим информационную технологию,
        предписанных функций без нарушений безопасности обрабатываемой информации.(ГОСТ Р 53114-2008)</p>
    <img src="{% static 'main/img/InfSec.png' %}" alt="img">
    <h2>{{ title_inf_sec }}</h2>
    <div class="hierarchy">
        <ul>
            <li>1. Конституция РФ.</li>
            <li>2. Международные акты.</li>
            <li>3. Федеральный закон (ФЗ).</li>
            <li>4. Указ президента страны.</li>
            <li>5. Постановление правительства.</li>
            <li>6. Приказ министерства.</li>
            <li>7. Приказ государственных служб (например, МЧС).</li>
            <li>8. Областной либо муниципальный закон (например, Конституция Республики Татарстан).</li>
        </ul>
    </div>
    <h2>{{ title_directions }}</h2>
    <img src="{% static 'main/img/table.png' %}" alt="img">
    <br>
    <p>{{ text }}</p>
    <br>
    <button class="btn btn-warning">Back on main page</button>
</div>

{% endblock %}