{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %}Оборудование{% endblock %}

{% block body_content %}
<div class="features">
    <input type="button" onclick="history.back();" value="Назад" class="back"/>
    <br>
    <div class="title_all">
        <h1>Форма по добавлению/изменению оборудования</h1>
    </div>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.title }}<br>
        {{ form.type }}<br>
        {{ form.description }}<br>
        {{ form.cost }}<br>
        <span>{{ exception }}</span>
        <button class="btn btn-success" type="submit">Добавить оборудование</button>
        <br>
    </form>
</div>
{% endblock %}