{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %}Новости сайта{% endblock %}

{% block body_content %}
<div class="features">
    <input type="button" onclick="history.back();" value="Назад" class="back"/>
    <br>
    <br>
    <div class="el_change">
        <div class="img_change">
             <img src="{{ article.model_img.url }}"  object-fit:cover width="100%" height="100%">
        </div>
        <div class="el_text_change">
            <h1>{{ article.title }}</h1>
            <p>Тип: {{ article.type }}</p>
            <p>Стоимость: {{ article.cost }} ₽</p>
        </div>
    </div>
    <div class="el_description">
        <h2>Описание</h2>
        <p>{{ article.description }}</p>
    </div>
     <a href="{% url 'update_equipment' article.id %}"><button class="btn btn-info">Изменить запись</button></a>
     <a href="{% url 'delete_equipment' article.id %}"><button class="btn btn-danger">Удалить запись</button></a
</div>
{% endblock %}