{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %}Новости сайта{% endblock %}

{% block body_content %}
<div class="features">
    <div class="btn_back">
        <a href="#" onclick="history.back();return false;" class="history-back"><i class="fa-solid fa-arrow-left fa-2xl" style="color: #000000;"></i></a>
    </div>
    <div class="el_change">
        <div class="img_change">
             <img src="{{ article.model_img.url }}"  object-fit:cover width="100%" height="100%">
        </div>
        <div class="el_text_change">
            <h1>{{ article.title }}</h1>
            <p>Тип: {{ article.type }}</p>
            <p>Стоимость: {{ article.cost }} ₽</p>
        </div>
    </div>
    <div class="el_description">
        <h2>Описание</h2>
        <p>{{ article.description }}</p>
    </div>
</div>
{% endblock %}