{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %}Новости сайта{% endblock %}

{% block body_content %}
<div class="features">
    <h1>{{ article.title }}</h1>
    <p>{{ article.type }}</p>
    <p>{{ article.description }}</p>
    <p>{{ article.cost }}</p>
    <a href="{% url 'update_news' article.id %}"><button class="btn btn-info">Изменить запись</button></a>
    <a href="{% url 'delete_news' article.id %}"><button class="btn btn-danger">Удалить запись</button></a>
</div>
{% endblock %}