{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %}Оборудование{% endblock %}

{% block body_content %}
<div class="features" xmlns="http://www.w3.org/1999/html">
    <h1>Расчет стоимости оборудования</h1>
    {% if equipment %}
    {% for el in equipment %}
        <img src="{{ el.model_img.url }}"  width="300" height="255">
        <h3>{{ el.title }}</h3>
        <p>{{ el.type }}</p>
        <a href="{% url 'detail_equipment' el.id %}" class="button btn-warning">Подробнее</a>
        <br>
        <form action="{% url "cart:add_cart" el.id %}" method="post">
            {% csrf_token %}
            {{ сart_add_equipment_form }}
                <input type="submit" value="Добавить в калькулятор">
        </form>
    <br>
    <br>
    {% endfor %}
    {% else %}
    <p>Нет записей</p>
    {% endif %}
    <br>
</div>
{% endblock %}