
{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %}Корзина {% endblock %}

{% block body_content %}
<div class="features">
    <input type="button" onclick="history.back();" value="Назад" class="back"/>
    <br>
    <div class="title_all">
        <h1>Оценка оборудования</h1>
    </div>
    <table class="cart">
        <tbody>
            {% for item in cart %}
            {% with product=item.product %}
            <tr>
                 <td>
                    <div class="img_cart">
                        <a href="{{ product.get_absolute_url }}">
                        <img src=" {% if product.model_img %} {{ product.model_img.url }} {% else %} {% static "img/no_image.png" %}
                             {% endif %}" object-fit:cover width="100%" height="100%"> </a>
                    </div>
                </td>
                <td><a href="{{ product.get_absolute_url }}"><h3>{{ product.title }}</a></h3></td>
                <td><h4>{{ item.quantity }} шт</h4></td>
                <td class="num"><h4>{{ item.cost }} ₽/ед</h4></td>
                <td class="num"><h4>{{ item.total_price }} ₽</h4></td>
                <td><a href="{% url 'cart:remove_cart' product.id%}" class="btn_delete">Удалить</a></td>
            </tr>
                {% endwith %}
                {% endfor %}
            <tr class="total">
                <td><h3>Итого:</h3></td>
                <td colspan="3"></td>
                <td class="num"><h3>{{ cart.get_total_price }} ₽</h3></td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}