{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %} Корзина {% endblock %}

{% block body_content %}
<h1>Корзина товаров</h1>
<table class="cart">
    <thead>
    <tr>
        <th>Equipment</th>
        <th>Quantity</th>
        <th>Remove</th>
        <th>Cost</th>
        <th>Total cost</th>
    </tr>
    </thead>
    <tbody>
    {% for item in dict_cart %}
    <tr>
        <td>{{ item.equipment.title }}</td>
        <td>{{ item.quantity }}</td>
        <td>
            <form action="{% url "cart:remove_cart" equipment.id %}" method = "post">
            <input typr="submit" value="Remove">
            {% csrf_token %}
            </form>
        </td>
        <td class="num">Rub{{ item.cost }}</td>
        <td class="num">Rub{{ item.total_cost }}</td>
    </tr>
    {% endfor %}
    <tr class="total">
        <td>Total </td>
        <td colspan = "4"> </td>

    </tr>
    </tbody>
</table>
{% endblock %}