
{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %}Корзина {% endblock %}

{% block body_content %}
<div class="features">
    <div class="title_all">
        <h1>Оценка оборудования</h1>
    </div>
    <table class="cart">
        <tbody>
            {% for item in cart %}
            {% with product=item.product %}
            <tr>
                 <td>
                    <div class="img_cart">
                        <a href="{{ product.get_absolute_url }}">
                        <img src=" {% if product.model_img %} {{ product.model_img.url }} {% else %} {% static "img/no_image.png" %}
                             {% endif %}" object-fit:cover width="100%" height="100%"> </a>
                    </div>
                </td>
                <td><a href="{{ product.get_absolute_url }}"><h3>{{ product.title }}</a></h3></td>
                <td>{{ item.quantity }}</td>
                <td class="num">{{ item.cost }} ₽</td>
                <td class="num">{{ item.total_price }} ₽</td>
                <td><a href="{% url 'cart:remove_cart' product.id%}">Удалить</a></td>
            </tr>
                {% endwith %}
                {% endfor %}
            <tr class="total">
                <td>Итоговая стоимость</td>
                <td colspan="3"></td>
                <td class="num">{{ cart.get_total_price }} ₽</td>
            </tr>
        </tbody>
    </table>
    <div class="title_all">
        <a href="{% url 'calculator' %}" class="back">Назад</a>
    </div>
</div>

{% endblock %}