{% extends 'main/layout.html' %}
{% load static %}
{% block title_content %}Новости{% endblock %}

{% block body_content %}
<div class="features">
    <input type="button" onclick="history.back();" value="Назад" class="back"/>
    <br>
    <h1>Новости</h1>
    {% if news %}
    {% for el in news %}
    <img src="{{ el.model_img.url }}" width="300" height="255">
    <h3>{{ el.title }}</h3>
    <p>{{ el.ad }}</p>
    <a href="{% url 'detail_news' el.id %}" class="button btn-warning">Подробнее</a>
    <br>
    <br>
    {% endfor %}
    {% else %}
    <p>Нету записей</p>
    {% endif %}
    <br>
</div>

{% endblock %}